################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AwsLambdaBasics
/AwsLambdaBasics/src/AwsLambdaBasics/bin
/AwsLambdaBasics/src/AwsLambdaBasics/obj
